<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="Services" type="StorageConfigurator.ConfigSection.ServicesSection, StorageConfigurator"/>
    <section name="ServicesInfo" type="StorageConfigurator.ConfigSection.ServicesInfoSection, StorageConfigurator"/>
  </configSections>
  <Services>
    <MasterService port="10000" type="StorageLib.Storages.MasterStorage, Storage"/>
    <SlaveServices type="StorageLib.Storages.SlaveStorage, Storage">
      <SlaveService port="10001"/>
      <SlaveService port="10002"/>
      <SlaveService port="10003"/>
    </SlaveServices>
  </Services>
  <ServicesInfo>
    <Generator type="FibonachyGenerator.Generators.IdGenerator, FibonachyGenerator"/>
    <Repository type="StorageLib.Repositories.XMLRepository, Storage"/>
    <Validator type="StorageConfigurator.UserValidator, StorageConfigurator"/>
  </ServicesInfo>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="fileName" value="userBase.xml" />
    </appSettings>
  
    <system.diagnostics>
        <trace autoflush="true"/>
        <sources>
          <source name="trace"
                  switchName="levelSwitch"
                  switchType="System.Diagnostics.SourceSwitch" >
            <listeners>            
              <add name="textwriterListener"
                type="System.Diagnostics.TextWriterTraceListener"
                initializeData="logInfo.txt"
              traceOutputOptions="ProcessId, DateTime"/>
              <add name="xmlListener"
                type="System.Diagnostics.XmlWriterTraceListener"
                initializeData="logInfo.xml"
                traceOutputOptions="DateTime" />
            </listeners>
          </source>
        </sources>
        <switches>
          <add name="boolSwitch" value="1"/>
          <add name="levelSwitch" value="Information" />
        </switches>
      </system.diagnostics>

</configuration>